USE [master]
GO
/****** Object:  Database [iShop]    Script Date: 05/13/2012 09:53:16 ******/
CREATE DATABASE [iShop] ON  PRIMARY 
( NAME = N'iShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\iShop.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\iShop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iShop]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05/13/2012 09:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[CMND] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_KhachHang] UNIQUE NONCLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([ID], [MaKhachHang], [HoTen], [SoDienThoai], [DiaChi], [CMND], [Email]) VALUES (18, N'KH001', N'Ông Lại Minh Vũ', N'01286365669', N'106 Phan Văn Trị', N'123456789', N'youngj@gmail.com')
INSERT [dbo].[KhachHang] ([ID], [MaKhachHang], [HoTen], [SoDienThoai], [DiaChi], [CMND], [Email]) VALUES (19, N'KH002', N'Bà Thu Trang', N'01265230985', N'212 Nguyễn Biểu', N'123456789', N'aad@yahoo.com')
INSERT [dbo].[KhachHang] ([ID], [MaKhachHang], [HoTen], [SoDienThoai], [DiaChi], [CMND], [Email]) VALUES (20, N'KH003', N'Ông Minh Vũ', N'01286365669', N'106 Phan Văn Trị', N'123123123', N'abs@yahoo.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  SqlAssembly [SqlServerRandomProduct]    Script Date: 05/13/2012 09:53:19 ******/
CREATE ASSEMBLY [SqlServerRandomProduct]
AUTHORIZATION [dbo]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C01030086F8E94E0000000000000000E00002210B0108000008000000060000000000004E270000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000F82600005300000000400000A803000000000000000000000000000000000000006000000C000000742600001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000054070000002000000008000000020000000000000000000000000000200000602E72737263000000A80300000040000000040000000A0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000000E000000000000000000000000000040000042000000000000000000000000000000003027000000000000480000000200050088200000EC0500000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133001001500000001000011007E010000046F0F00000A281000000A0A2B00062A2E731100000A80010000042A1E02281200000A2A00000042534A4201000100000000000C00000076322E302E35303732370000000005006C000000F8010000237E000064020000C002000023537472696E6773000000002405000008000000235553002C0500001000000023475549440000003C050000B000000023426C6F620000000000000002000001571402000900000000FA0133001600000100000012000000020000000100000003000000120000000C00000001000000010000000200000000000A0001000000000006004A0043000600510043000A007B0066000600AB0099000600C20099000600DF0099000600FE00990006001701990006003001990006004B01990006006601990006009E017F010600B20199000600DE01CB013B00F20100000600210201020600410201020A009102760200000000010000000000010001000100100025000000050001000100310058000A00502000000000960084000E0001007D200000000086189300130001007120000000009118B70240000100210093001700290093001700310093001700390093001700410093001700490093001700510093001700590093001700610093001C006900930017007100930021008100930027008900930013009100930013001100A60231001900AB023500110093001300090093001300200073002C002E002B0044002E00130060002E001B0060002E00230060002E000B0044002E00330066002E003B0060002E004B0060002E005B007E002E00630087002E006B0090003B0004800000010000000E113B910000000000005F02000002000000000000000000000001003A000000000002000000000000000000000001005A00000000000000003C4D6F64756C653E0053716C53657276657252616E646F6D50726F647563742E646C6C0055736572446566696E656446756E6374696F6E73006D73636F726C69620053797374656D004F626A6563740052616E646F6D00720053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C496E7433320052616E646F6D50726F6475637473002E63746F720053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053716C53657276657252616E646F6D50726F64756374004D6963726F736F66742E53716C5365727665722E5365727665720053716C46756E6374696F6E417474726962757465004E657874006F705F496D706C69636974002E6363746F72000000000320000000000053C1304B25AA924BA0EA66B8A50C585A0008B77A5C561934E08903061209040000110D03200001042001010E042001010205200101113D0420010108040100000003200008050001110D08040701110D030000011B01001653716C53657276657252616E646F6D50726F64756374000005010000000017010012436F7079726967687420C2A920203230313100000801000701000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301000000000086F8E94E000000000200000068000000902600009008000052534453EC127E6433D3154F91BF353C6C996CAB01000000443A5C50726F6A6563742049565C6953686F705C53716C53657276657252616E646F6D50726F647563745C6F626A5C44656275675C53716C53657276657252616E646F6D50726F647563742E706462002027000000000000000000003E2700000020000000000000000000000000000000000000000000003027000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000500300000000000000000000500334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001003B910E11000001003B910E113F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B0020000010053007400720069006E006700460069006C00650049006E0066006F0000008C0200000100300030003000300030003400620030000000580017000100460069006C0065004400650073006300720069007000740069006F006E0000000000530071006C00530065007200760065007200520061006E0064006F006D00500072006F0064007500630074000000000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0034003300360036002E00330037003100370039000000000058001B00010049006E007400650072006E0061006C004E0061006D0065000000530071006C00530065007200760065007200520061006E0064006F006D00500072006F0064007500630074002E0064006C006C00000000004800120001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A900200020003200300031003100000060001B0001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000530071006C00530065007200760065007200520061006E0064006F006D00500072006F0064007500630074002E0064006C006C0000000000500017000100500072006F0064007500630074004E0061006D00650000000000530071006C00530065007200760065007200520061006E0064006F006D00500072006F0064007500630074000000000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0034003300360036002E00330037003100370039000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0034003300360036002E00330037003100370039000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000503700000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [SqlServerRandomProduct]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D2E5265666C656374696F6E3B0D0A7573696E672053797374656D2E52756E74696D652E436F6D70696C657253657276696365733B0D0A7573696E672053797374656D2E52756E74696D652E496E7465726F7053657276696365733B0D0A7573696E672053797374656D2E446174612E53716C3B0D0A0D0A2F2F2047656E6572616C20496E666F726D6174696F6E2061626F757420616E20617373656D626C7920697320636F6E74726F6C6C6564207468726F7567682074686520666F6C6C6F77696E670D0A2F2F20736574206F6620617474726962757465732E204368616E6765207468657365206174747269627574652076616C75657320746F206D6F646966792074686520696E666F726D6174696F6E0D0A2F2F206173736F636961746564207769746820616E20617373656D626C792E0D0A5B617373656D626C793A20417373656D626C795469746C65282253716C53657276657252616E646F6D50726F6475637422295D0D0A5B617373656D626C793A20417373656D626C794465736372697074696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6E66696775726174696F6E282222295D0D0A5B617373656D626C793A20417373656D626C79436F6D70616E79282222295D0D0A5B617373656D626C793A20417373656D626C7950726F64756374282253716C53657276657252616E646F6D50726F6475637422295D0D0A5B617373656D626C793A20417373656D626C79436F707972696768742822436F7079726967687420C2A920203230313122295D0D0A5B617373656D626C793A20417373656D626C7954726164656D61726B282222295D0D0A5B617373656D626C793A20417373656D626C7943756C74757265282222295D0D0A0D0A5B617373656D626C793A20436F6D56697369626C652866616C7365295D0D0A0D0A2F2F0D0A2F2F2056657273696F6E20696E666F726D6174696F6E20666F7220616E20617373656D626C7920636F6E7369737473206F662074686520666F6C6C6F77696E6720666F75722076616C7565733A0D0A2F2F0D0A2F2F2020202020204D616A6F722056657273696F6E0D0A2F2F2020202020204D696E6F722056657273696F6E0D0A2F2F2020202020204275696C64204E756D6265720D0A2F2F2020202020205265766973696F6E0D0A2F2F0D0A2F2F20596F752063616E207370656369667920616C6C207468652076616C756573206F7220796F752063616E2064656661756C7420746865205265766973696F6E20616E64204275696C64204E756D626572730D0A2F2F206279207573696E672074686520272A272061732073686F776E2062656C6F773A0D0A5B617373656D626C793A20417373656D626C7956657273696F6E2822312E302E2A22295D0D0A0D0A
AS N'Properties\AssemblyInfo.cs'
GO
ALTER ASSEMBLY [SqlServerRandomProduct]
ADD FILE FROM 0xEFBBBF7573696E672053797374656D3B0D0A7573696E672053797374656D2E446174613B0D0A7573696E672053797374656D2E446174612E53716C436C69656E743B0D0A7573696E672053797374656D2E446174612E53716C54797065733B0D0A7573696E67204D6963726F736F66742E53716C5365727665722E5365727665723B0D0A0D0A7075626C6963207061727469616C20636C6173732055736572446566696E656446756E6374696F6E730D0A7B0D0A202020207072697661746520726561646F6E6C79207374617469632052616E646F6D20723D6E65772052616E646F6D28293B0D0A202020205B4D6963726F736F66742E53716C5365727665722E5365727665722E53716C46756E6374696F6E5D0D0A202020207075626C6963207374617469632053716C496E7433322052616E646F6D50726F647563747328290D0A202020207B0D0A20202020202020202F2F2050757420796F757220636F646520686572650D0A202020202020202072657475726E20722E4E65787428293B0D0A202020207D0D0A7D3B0D0A0D0A
AS N'RandomProducts.cs'
GO
ALTER ASSEMBLY [SqlServerRandomProduct]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A4453000000000200000200000017000000700000000000000014000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF3800E0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000000D00FFFF04000000038000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E310186F8E94E01000000EC127E6433D3154F91BF353C6C996CAB000000000000000001000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF040000000380000000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD60A66E40CF64824CB6F042D48172A7991000000000000000E139D745FD5C2E0ADD4F519E11642B57000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000020000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF010000007C00000000443A5C50726F6A6563742049565C6953686F705C53716C53657276657252616E646F6D50726F647563745C52616E646F6D50726F64756374732E63730000643A5C70726F6A6563742069765C6973686F705C73716C73657276657272616E646F6D70726F647563745C72616E646F6D70726F64756374732E637300040000003E0000003F000000000000000100000003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE2300180000000B24FCCF12EBBCC0101000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000020000000100000002000000000000003F000000280000001BE2300115ECD48658000000010000003E0000003F0000006500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000036002A110000000020010000000000001500000000000000000000000100000600000000010000000052616E646F6D50726F6475637473001600031104000000EC0000001500000000000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E536572766572001E00201100000000010000110000000000000400435324312430303030000000020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040000000C00000001000500020006002E002A110000000084010000000000000B0000000000000000000000030000061500000001000000002E6363746F72002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C0000000100000602000600F20000003C000000000000000100010015000000000000000300000030000000000000000C000080010000000E000080130000000F000080050006000900190005000600F20000003000000015000000010001000B00000000000000020000002400000000000000090000800A000000EEEFFE800500330000000000F4000000080000000100000000000000100000000000000020000000380000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF120000000140200005100000001000000210000000100000001000000010000003900000001000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C00000018000000240000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E0025110000000004000000010052616E646F6D50726F64756374730000000016002911000000000400000001003036303030303031000016002511000000002401000001002E6363746F720000000016002911000000002401000001003036303030303033000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000005000000000004000500FFFFFFFF1A092FF10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101010000000A0000880B0027C60C004C13600000003C0000002C0000004C000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF000000000000000000000000090088010000000000008C00000001000000702EC431000000000000000055736572446566696E656446756E6374696F6E730037314141414545380000002DBA2EF10100000000000000150000000000000000000000000000000000000001000000150000000B00000000000000000063740000000000000000020002000D01000000000100FFFFFFFF00000000200000000802000000000000FFFFFFFF00000000FFFFFFFF010001000000010000000000443A5C50726F6A6563742049565C6953686F705C53716C53657276657252616E646F6D50726F647563745C52616E646F6D50726F64756374732E637300000000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF0800FFFFFFFFFFFFFFFFFFFF0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E310186F8E94E01000000EC127E6433D3154F91BF353C6C996CAB6A0000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F643A5C70726F6A6563742069765C6973686F705C73716C73657276657272616E646F6D70726F647563745C72616E646F6D70726F64756374732E6373000400000006000000010000003A0000000000000011000000060000000A0000000500000000000000040000002200000007000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000D00000018000000C2000000380000008301000000000000A000000080000000580000002800000028020000440200002C0000006800000003000000120000000600000011000000090000000A00000007000000080000000B0000000C0000000D0000000E000000100000000F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'SqlServerRandomProduct.pdb'
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'ASSEMBLY',@level0name=N'SqlServerRandomProduct'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyProjectRoot', @value=N'D:\Project IV\iShop\SqlServerRandomProduct' , @level0type=N'ASSEMBLY',@level0name=N'SqlServerRandomProduct'
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 05/13/2012 09:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai] [nvarchar](50) NOT NULL,
	[TenLoai] [nvarchar](150) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_LoaiSanPham] UNIQUE NONCLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON
INSERT [dbo].[LoaiSanPham] ([ID], [MaLoai], [TenLoai]) VALUES (1, N'ipod', N'iPod')
INSERT [dbo].[LoaiSanPham] ([ID], [MaLoai], [TenLoai]) VALUES (2, N'iphone', N'iPhone')
INSERT [dbo].[LoaiSanPham] ([ID], [MaLoai], [TenLoai]) VALUES (3, N'ipad', N'iPad')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
/****** Object:  Table [dbo].[PhieuNhapHang]    Script Date: 05/13/2012 09:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianNhap] [datetime] NULL,
 CONSTRAINT [PK_PhieuNhapHang_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapHang] ON
INSERT [dbo].[PhieuNhapHang] ([ID], [ThoiGianNhap]) VALUES (36, CAST(0x0000A04F0181845D AS DateTime))
INSERT [dbo].[PhieuNhapHang] ([ID], [ThoiGianNhap]) VALUES (37, CAST(0x0000A04F0181BC9E AS DateTime))
INSERT [dbo].[PhieuNhapHang] ([ID], [ThoiGianNhap]) VALUES (41, CAST(0x0000A04F018780FB AS DateTime))
SET IDENTITY_INSERT [dbo].[PhieuNhapHang] OFF
/****** Object:  Table [dbo].[PhieuDatHang]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NULL,
	[ThoiGianDatHang] [datetime] NULL,
	[Duyet] [bit] NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhieuDatHang] ON
INSERT [dbo].[PhieuDatHang] ([ID], [IDKhachHang], [ThoiGianDatHang], [Duyet]) VALUES (4, 18, CAST(0x00009F92009FF787 AS DateTime), 1)
INSERT [dbo].[PhieuDatHang] ([ID], [IDKhachHang], [ThoiGianDatHang], [Duyet]) VALUES (5, 19, CAST(0x00009F9200A039E8 AS DateTime), 1)
INSERT [dbo].[PhieuDatHang] ([ID], [IDKhachHang], [ThoiGianDatHang], [Duyet]) VALUES (6, 20, CAST(0x00009F9200C3E514 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PhieuDatHang] OFF
/****** Object:  Table [dbo].[SanPham]    Script Date: 05/13/2012 09:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[IDLoaiSanPham] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaBan] [money] NULL,
	[BaoHanh] [nvarchar](250) NULL,
	[Anh] [nvarchar](250) NULL,
	[SoTon] [int] NULL,
	[Recycle] [bit] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_SanPham] UNIQUE NONCLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON
SET IDENTITY_INSERT [dbo].[SanPham] OFF
/****** Object:  UserDefinedFunction [dbo].[RandomProducts]    Script Date: 05/13/2012 09:53:22 ******/
CREATE FUNCTION [dbo].[RandomProducts]()
RETURNS [int] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [SqlServerRandomProduct].[UserDefinedFunctions].[RandomProducts]
GO
EXEC sys.sp_addextendedproperty @name=N'AutoDeployed', @value=N'yes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'FUNCTION',@level1name=N'RandomProducts'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFile', @value=N'RandomProducts.cs' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'FUNCTION',@level1name=N'RandomProducts'
GO
EXEC sys.sp_addextendedproperty @name=N'SqlAssemblyFileLine', @value=10 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'FUNCTION',@level1name=N'RandomProducts'
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNhapXuat] [int] NULL,
	[LaPhieuNhap] [bit] NULL,
	[IDSanPham] [int] NULL,
	[SoLuongTonKho] [int] NULL,
	[Kho] [tinyint] NULL,
	[ThoiGian] [datetime] NULL,
	[ConHang] [int] NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kho] ON
INSERT [dbo].[Kho] ([ID], [IDNhapXuat], [LaPhieuNhap], [IDSanPham], [SoLuongTonKho], [Kho], [ThoiGian], [ConHang]) VALUES (14, 93, 1, 10, 10, 1, CAST(0x0000A05000138662 AS DateTime), 0)
INSERT [dbo].[Kho] ([ID], [IDNhapXuat], [LaPhieuNhap], [IDSanPham], [SoLuongTonKho], [Kho], [ThoiGian], [ConHang]) VALUES (15, 94, 1, 10, 15, 1, CAST(0x0000A05000139E10 AS DateTime), 14)
INSERT [dbo].[Kho] ([ID], [IDNhapXuat], [LaPhieuNhap], [IDSanPham], [SoLuongTonKho], [Kho], [ThoiGian], [ConHang]) VALUES (16, 95, 1, 10, 5, 2, CAST(0x0000A0500013C90F AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Kho] OFF
/****** Object:  Table [dbo].[ChiTietPhieuDatHang]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDatHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDDatHang] [int] NULL,
	[IDSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_ChiTietDatHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuDatHang] ON
INSERT [dbo].[ChiTietPhieuDatHang] ([ID], [IDDatHang], [IDSanPham], [SoLuong], [TrangThai]) VALUES (8, 4, 14, 5, 1)
INSERT [dbo].[ChiTietPhieuDatHang] ([ID], [IDDatHang], [IDSanPham], [SoLuong], [TrangThai]) VALUES (9, 4, 12, 1, 1)
INSERT [dbo].[ChiTietPhieuDatHang] ([ID], [IDDatHang], [IDSanPham], [SoLuong], [TrangThai]) VALUES (11, 5, 10, 1, 1)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuDatHang] OFF
/****** Object:  Table [dbo].[GiaBinhQuan]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaBinhQuan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GiaBinQuan] [money] NULL,
	[SoLuong] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[IDSanPham] [int] NULL,
 CONSTRAINT [PK_GiaBinhQuan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GiaBinhQuan] ON
INSERT [dbo].[GiaBinhQuan] ([ID], [GiaBinQuan], [SoLuong], [ThoiGian], [IDSanPham]) VALUES (31, 10.0000, 10, CAST(0x0000A05000138662 AS DateTime), 10)
INSERT [dbo].[GiaBinhQuan] ([ID], [GiaBinQuan], [SoLuong], [ThoiGian], [IDSanPham]) VALUES (32, 11.6666, 15, CAST(0x0000A05000139E10 AS DateTime), 10)
INSERT [dbo].[GiaBinhQuan] ([ID], [GiaBinQuan], [SoLuong], [ThoiGian], [IDSanPham]) VALUES (33, 11.7499, 20, CAST(0x0000A0500013C90E AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[GiaBinhQuan] OFF
/****** Object:  Trigger [KTDuyetCTPhieuNhap_CapNhapTonKho]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[KTDuyetCTPhieuNhap_CapNhapTonKho] ON [dbo].[ChiTietPhieuDatHang]
FOR INSERT, UPDATE
AS 
BEGIN
	DECLARE @idSanPham INT, @idPhieuDatHang INT, @SoLuongDat INT, @SoLuongTon INT, @duyet BIT
	SELECT @idSanPham = IDSanPham, @idPhieuDatHang = IDDatHang, @SoLuongDat = SoLuong, @duyet = Duyet FROM INSERTED
	SET @SoLuongTon = (SELECT TOP (1) SoLuongTonKho FROM TonKho WHERE  (IDSanPham = @idSanPham) ORDER BY ID DESC)
	
	IF (@duyet = 1)
		BEGIN 
			SET @SoLuongTon = @SoLuongTon - @SoLuongDat
			IF (@SoLuongTon < 0)
				BEGIN
					SET @SoLuongTon = 0
				END
			INSERT INTO TonKho (IDSanPham, SoLuongTonKho, NgayCapNhat, IDNhapXuat, LaPhieuNhap) 
					VALUES (@idSanPham, @SoLuongTon, GETDATE(), @idPhieuDatHang,0)
		END
	
END
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapHang]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSanPham] [int] NULL,
	[IDPhieuNhap] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaVon] [decimal](18, 0) NULL,
	[Kho] [tinyint] NULL,
 CONSTRAINT [PK_ChiTietPhieuNhapHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapHang] ON
INSERT [dbo].[ChiTietPhieuNhapHang] ([ID], [IDSanPham], [IDPhieuNhap], [SoLuong], [GiaVon], [Kho]) VALUES (93, 10, 45, 10, CAST(10 AS Decimal(18, 0)), 1)
INSERT [dbo].[ChiTietPhieuNhapHang] ([ID], [IDSanPham], [IDPhieuNhap], [SoLuong], [GiaVon], [Kho]) VALUES (94, 10, 46, 5, CAST(15 AS Decimal(18, 0)), 1)
INSERT [dbo].[ChiTietPhieuNhapHang] ([ID], [IDSanPham], [IDPhieuNhap], [SoLuong], [GiaVon], [Kho]) VALUES (95, 10, 47, 5, CAST(12 AS Decimal(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhapHang] OFF
/****** Object:  Trigger [CapNhatGiaBinhQuanVaKho]    Script Date: 05/13/2012 09:53:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[CapNhatGiaBinhQuanVaKho] on [dbo].[ChiTietPhieuNhapHang]
for insert
as 
begin
	declare @idct int,@idsp int,@soluong int,@giavon money,@kho tinyint,@soluonggia int,@giabinhquan money
	declare @idkho int, @soluongtonkho int,@conhang int
	select @idct=ID,@idsp=IDSanPham,@soluong=SoLuong,@giavon=GiaVon,@kho=Kho from inserted
	
	-- so luong co trong bang gia binh quan
	-- tinh tong so luong san pham da nhap truoc do
	-- kho 1
	if exists (select top(1) SoLuong, GiaBinQuan from GiaBinhQuan where IDSanPham=@idsp  order by ID desc)
		 begin
			select top(1) @soluonggia= SoLuong, @giabinhquan=GiaBinQuan from GiaBinhQuan where IDSanPham=@idsp  order by ID desc
			set @giabinhquan = ((@giabinhquan * @soluonggia) + (@soluong * @giavon))/ (@soluong+@soluonggia)
			set @soluonggia = (@soluong+@soluonggia)
		 end
	else
		begin
			-- neu chua co sp trong kho thi tong so luong trong kho chinh bang so luong nhap
			set @soluonggia = @soluong
			set @giabinhquan = @giavon
		end
	
	-- cap nhat gia binh quan gia quyen tuong ung voi so luong moi
	insert into GiaBinhQuan (GiaBinQuan,SoLuong,ThoiGian,IDSanPham)	values (@giabinhquan,@soluonggia,GETDATE(),@idsp)
	
	-- kiem tra trong kho da ton tai san pham do hay k
	if exists (select top(1) ID,SoLuongTonKho from Kho where IDSanPham=@idsp and Kho=@kho and LaPhieuNhap=1 order by ID desc)
		begin
			-- cap nhap "conhang" la id kho truoc do, "soluongtonkho" cong don them so luong nhap
			select top(1) @idkho=ID,@soluongtonkho=SoLuongTonKho from Kho where IDSanPham=@idsp and Kho=@kho and LaPhieuNhap=1 order by ID desc
			set @conhang = @idkho
			set @soluongtonkho = @soluongtonkho + @soluong
		end
	else
		begin
			-- neu chua co san pham do trong kho
			set @conhang = 0
			set @soluongtonkho = @soluong
		end
	-- cap nhap kho
	insert into Kho (IDNhapXuat,LaPhieuNhap,IDSanPham,SoLuongTonKho,Kho,ThoiGian,ConHang)
			values (@idct,1,@idsp,@soluongtonkho,@kho,GETDATE(),@conhang)
end
GO
/****** Object:  ForeignKey [FK_SanPham_LoaiSanPham]    Script Date: 05/13/2012 09:53:19 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([IDLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
/****** Object:  ForeignKey [FK_DatHang_KhachHang]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[PhieuDatHang] CHECK CONSTRAINT [FK_DatHang_KhachHang]
GO
/****** Object:  ForeignKey [FK_ChiTietDatHang_DatHang]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[ChiTietPhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatHang_DatHang] FOREIGN KEY([IDDatHang])
REFERENCES [dbo].[PhieuDatHang] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang] CHECK CONSTRAINT [FK_ChiTietDatHang_DatHang]
GO
/****** Object:  ForeignKey [FK_ChiTietPhieuDatHang_SanPham]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[ChiTietPhieuDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDatHang_SanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatHang] CHECK CONSTRAINT [FK_ChiTietPhieuDatHang_SanPham]
GO
/****** Object:  ForeignKey [FK_TonKho_SanPham]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_SanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_TonKho_SanPham]
GO
/****** Object:  ForeignKey [FK_GiaBinhQuan_SanPham]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[GiaBinhQuan]  WITH CHECK ADD  CONSTRAINT [FK_GiaBinhQuan_SanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[GiaBinhQuan] CHECK CONSTRAINT [FK_GiaBinhQuan_SanPham]
GO
/****** Object:  ForeignKey [FK_ChiTietPhieuNhapHang_PhieuNhapHang]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[ChiTietPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapHang_PhieuNhapHang] FOREIGN KEY([IDPhieuNhap])
REFERENCES [dbo].[PhieuNhapHang] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang] CHECK CONSTRAINT [FK_ChiTietPhieuNhapHang_PhieuNhapHang]
GO
/****** Object:  ForeignKey [FK_ChiTietPhieuNhapHang_SanPham]    Script Date: 05/13/2012 09:53:22 ******/
ALTER TABLE [dbo].[ChiTietPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapHang_SanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang] CHECK CONSTRAINT [FK_ChiTietPhieuNhapHang_SanPham]
GO
